
@tailwind base;
@tailwind components;
@tailwind utilities;

/* typography */
@layer components {
    p {
        @apply text-gray-600 dark:text-gray-300
    }
}

.head-title::before {
    position: absolute;
    left: 50%;
    top: 50%;
    @apply 
    bg-gradient-to-br from-pink-400 to-red-600 dark:from-blue-600 dark:to-pink-900 opacity-40;
    transform: translate(-50%,-50%);
    content: '';
    width: 105%;
    height: 130%;
    z-index: -1;
    box-shadow: 6px 6px 0px 1px;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 20px;
}


.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    z-index: 5;
}

img {
    width: 100%;
    border-radius: 5px;
    
}


.glassmorph {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}



.main-bg {
    background: url('/images/main-bg.png');
    
}

/*! HAMBURGER ICON */


/*! CTA BUTTON */

.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      @apply bg-gradient-to-br font-heading1 font-black cursor-pointer text-gray-800 dark:text-gray-200 dark:from-pink-400 dark:to-red-600 from-blue-600 to-pink-900;
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-size: 32px;
      transition: 1s;
      box-shadow: 6px 6px 0px 1px;
      transform: skewX(-15deg);
      backface-visibility: hidden
  }

  .backface {
    backface-visibility: hidden
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 ;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    .wrapper span {
      transform: skewX(15deg) 
    }
  
    .wrapper span:nth-child(2) {
      width: 15px;
      margin-left: 20px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }

/*! BUTTON STYLING */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 0px;
    transition: all 0.3s;
    
  }

.btn span {
    padding: 20px;
    transition: all 0.3s;
    transform: scale(1, 1);
  }


.btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid;
  }
  
  .btn-two::after {
    animation-name: rotatecw;
    animation-duration: 4s;
  }
  .btn-two::before {
    animation-name: rotateccw; 
    animation-duration: 6s;
  }
  .btn-two::after, .btn-two::before {
    left: 0;
    width: 80px;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }

  @keyframes color_anim {
    0% {
        fill: #F87171;
    }
    100% {
        fill: #fff;
    }
}
  

/*! ABOUT PAGE */

.span-safet, 
.span-developer {
    animation: color_anim2 10s infinite 0.4s;
}
@keyframes color_anim2 {
    0% {
        color: #FCA5A5;
    }
    25% {
        color: #3AD098;
    }
    50% {
        color: #FCA5A5;
    }
    100% {
        color: #3AD098;
    }
}



/* marker highlight */
.realistic-marker-highlight{
    position:relative;
    
  }
  .realistic-marker-highlight:before{
    @apply bg-green-300 dark:bg-red-300;
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left:0;
    top:0;
    
  }

  /* circle sketch highlight */
  .circle-sketch-highlight{
    position:relative;
  }
  .circle-sketch-highlight:before{
    content:"";
    z-index:1;
    left:-7%;
    top:-15%;
    padding:0.2em 0.5em;
    border-width:2px;
    border-style:solid;
    @apply border-2 border-red-400 dark:border-green-400 ;
    position:absolute;
    border-right-color:transparent;
    width:120%;
    height:150%;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
  }
  .circle-sketch-highlight:after{
    content:"";
    z-index:1;
    left:-7%;
    top:-15%;  
    padding:0.2em 0.5em;
    border-width:2px;
    border-style:solid;
    @apply border-2 border-red-400 dark:border-green-400 ;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:120%;
    height:150%;
    transform:rotate(1deg);
    opacity:0.7;
    border-radius:50%;
  }

  /*sketch highlight */
  .sketch-highlight{
    position:relative;
  }
  .sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0;
    top:-0.2em;
    border-width:2px;
    border-style:solid;
    @apply border-2 border-red-400 dark:border-green-400 ;
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:120%;
    transform:rotate(1deg);
    opacity:0.5;
    border-radius:0.25em;
  }
  .sketch-highlight:after{
    content:"";
    z-index:-1;
    left:0;
    top:-0.1em;
    border-width:2px;
    border-style:solid;
    @apply border-2 border-red-400 dark:border-green-400 ;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:110%;
    transform:rotate(0.5deg);
    opacity:0.5;
    border-radius:0.25em;
  }

/* animated bar */

.marquee-wrapper {
  
  max-width: 200%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 100s linear infinite;
}

.marquee p {
  display: inline-block;

}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

